body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-small-c{
  font-size: 0.875rem;
}
.text-xsmall-c{
  font-size: 0.6rem;
}
.text-bold-c{
  font-weight: 500;
}
.text-red-c{
  color: #df514c;;
}
.text-green-c{
  color: #4caf50;;
}

.text-gray-c{
  color: #444;
}
a{
  text-decoration: none;
}
a:hover{
  color: #df514c;
}