body {
  margin: 0;
  font-family: "Inter", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-small-c {
  font-size: 0.875rem;
}
.text-xsmall-c {
  font-size: 0.6rem;
}
.text-bold-c {
  font-weight: 500;
}
.text-red-c {
  color: #df514c;
}
.text-green-c {
  color: #4caf50;
}

.text-gray-c {
  color: #444 !important;
}
a {
  text-decoration: none;
}
a:hover {
  color: #df514c;
}

.order-status {
  height: 22px;
  width: 90px;
  border-radius: 3px;
}
table th,
table td {
  vertical-align: middle;
}

.badge {
  font-size: 0.75rem;
  padding: 6px 10px;
  border-radius: 6px;
}
